@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(0, 0, 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: transparent !important;
  background-color: #4444;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
}

button {
  border-radius: 1.5rem;
  padding: 0em 0.6em;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:focus,
button:hover {
  background-color: #00000008 !important;
}

#textBox {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  width: 100%; /* or a fixed width like 768px */
  max-width: 800px;
  height: 100px; /* approx height */
  background-color: #ffffff;
  border: 1px solid #e5e7eb; /* very light gray border */
  border-radius: 2rem; /* fully rounded corners */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  color: #000;
}

#textBox input[type="text"] {
  flex: 1;
  width: 100%;
  height: 2rem;
  border: 0px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 0 0.45rem;
  outline: none;
  background-color: #fff;
  box-sizing: border-box;
}

input::placeholder {
  color: #999999;
}

#spacer-lg {
  margin-top: 200px;
}
